<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cytmxk.testbroadcast"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="20" />
    
    <uses-permission android:name="com.android.permission.SEND_SHOW"/>
    <permission android:name="com.android.permission.RECV_SHOW"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <!-- <activity android:name="com.cytmxk.testbroadcast.FirstActivity"
            android:label="@string/first_activity_lable">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            
        </activity> -->
        <!-- <activity android:name="com.cytmxk.testbroadcast.SecondActivity"
            android:label="@string/second_activity_lable">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            
        </activity>
        <receiver android:name="com.cytmxk.testbroadcast.SecondActivity$ShowBeautyReceiver">
            <intent-filter>
                <action android:name="com.cytmxk.testbroadcast.SHOW_ACTION"/>
            </intent-filter>
        </receiver> -->
        <!-- <activity android:name="com.cytmxk.testbroadcast.ThreeActivity"
            android:label="@string/three_activity_lable">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            
        </activity>
        <receiver android:name="com.cytmxk.testbroadcast.ShowBeautyReceiver">
            <intent-filter>
                <action android:name="com.cytmxk.testbroadcast.SHOW_ACTION"/>
            </intent-filter>
        </receiver> -->
        <!-- <activity android:name="com.cytmxk.testbroadcast.FourActivity"
            android:label="@string/four_activity_lable">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            
        </activity> -->
        <!-- <activity android:name="com.cytmxk.testbroadcast.FiveActivity"
            android:label="@string/five_activity_lable">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            
        </activity> -->
        <!-- <activity android:name="com.cytmxk.testbroadcast.SixActivity"
            android:label="@string/six_activity_lable">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            
        </activity> -->
        <!-- <activity android:name="com.cytmxk.testbroadcast.SevenActivity"
            android:label="@string/seven_activity_lable">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            
        </activity> -->
        <!-- <activity android:name="com.cytmxk.testbroadcast.EightActivity"
            android:label="@string/eight_activity_lable">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            
        </activity> -->
        <!-- <activity android:name="com.cytmxk.testbroadcast.PermissionActivity1"
            android:label="@string/permission_activity1_lable">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            
        </activity> -->
        <!-- <activity android:name="com.cytmxk.testbroadcast.PermissionActivity2"
            android:label="@string/permission_activity2_lable">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            
        </activity> -->
        <activity android:name="com.cytmxk.testbroadcast.PermissionActivity3"
            android:label="@string/permission_activity3_lable">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            
        </activity>
    </application>

</manifest>
