<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cytmxk.testmessageprocessing"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="23" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:name=".MyApp" >
        <!-- <activity android:name="com.cytmxk.testmessageprocessing.FirstActivity"
            android:label="@string/mainThreadActivity_lable">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name="com.cytmxk.testmessageprocessing.SecondActivity"
            android:label="@string/subThread1Activity_lable">
        </activity> -->
        <!-- <activity android:name="com.cytmxk.testmessageprocessing.ThreeActivity"
            android:label="@string/threeActivity_lable">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name="com.cytmxk.testmessageprocessing.FourActivity"
            android:label="@string/fourActivity_lable">
        </activity> -->
        <!-- <activity android:name="com.cytmxk.testmessageprocessing.FiveActivity"
            android:label="@string/threeActivity_lable">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name="com.cytmxk.testmessageprocessing.SixActivity"
            android:label="@string/fourActivity_lable">
        </activity> -->
        <!-- <activity android:name="com.cytmxk.testmessageprocessing.SevenActivity"
            android:label="@string/threeActivity_lable">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity> -->
        <activity android:name="com.cytmxk.testmessageprocessing.asynctask.AsyncTaskActivity"
            android:label="@string/threeActivity_lable">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <!-- <activity android:name="com.cytmxk.testmessageprocessing.threadlocal.ThreadLocalActivity"
            android:label="@string/ThreadLocalActivity_lable">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity> -->
    </application>

</manifest>
